.formStyle{
    margin: auto;
    margin-top:90px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 60px;
    background: radial-gradient(black, transparent);
    width:700px;
    
}
